@import './../../../assets/styles/vars.module.scss';

.wrapper {
    width: 100%;
    border-radius: 0.5em;
    padding: 1em 1em 0 2.5em;
    margin-bottom: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    transition: .4s;
    transform-origin: 0;
    &.light {
        border: 1px solid rgba($clr-grey-dark, .1);
        background-color: #fff;
        box-shadow: 2px 2px 5px rgba($clr-grey-dark, .2);
    }
    &.dark {
        border: 1px solid rgba($clr-grey-dark, 0);
        background-color: $clr-grey;
    }
}
.text {
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    margin-bottom: 2em;
    &.light {
        .text__shortName {
            color: $clr-grey-dark;
        }
        .text__fullName, .text__address {
            color: $clr-grey;
        }
    }
    &.dark {
        .text__shortName {
            color: #fff;
        }
        .text__fullName, .text__address {
            color: $clr-grey-light;
        }
    }
    &__shortName {
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-transform: uppercase;
        font-weight: 800;
        margin-bottom: 1em;
    }
    &__fullName, &__address {
        margin-bottom: .5em;
        font-size: 0.95em;
    }
}

.tags {
    width: 8%;   
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end; 
    &.light {
        color: $clr-grey;
    }
    &.dark {
        color: $clr-grey-light;
    }
    &__item {
        margin-bottom: .5em;
        text-transform: uppercase;
    }
}

.otherInfo {
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    &.light {
        .otherInfo__item {
            &__title {
                color: $clr-grey-dark;
            }
            &__value {
                color: $clr-grey;
            }
        }
    }
    &.dark {
        .otherInfo__item {
            &__title {
                color: #fff;
            }
            &__value {
                color: $clr-grey-light;
            }
        }
    }
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
        margin-bottom: 1.5em;
        margin-right: 1.5em;
        font-size: 0.9em;
        line-height: 1;
        &__title {
            text-transform: uppercase;
            font-weight: 800;
            color: $clr-grey-dark;
            margin-bottom: 0.3em;
        }
    }
}

.hovered {
    transform: scale(1.02) translateX(2px);
    box-shadow: 4px 4px 10px rgba($clr-grey-dark, .1);
}