@import './../../../assets/styles/vars.module.scss';

.wrapper {
  width: 100%;
  font-size: .9em;
  margin-bottom: .75em; 
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  &.w30 {
    width: 30%;
  }
  &.w48 {
    width: 48%;
  }
  &.w65 {
    width: 65%;
  }
}

.input {
  width: 100%;
  padding: .5em .75em;
  border-radius: .25em;
  font-size: 1em;
  border: 2px solid $clr-green;
  transition: .2s;
  &:focus {
    box-shadow: 4px 4px 0px rgba($clr-grey-dark, .2);
  }
}

.label {
  font-size: 1em;
  margin-bottom: 0.5em;
  font-weight: 700;
}

.eyeBtn {
  position: absolute;
  right: .5em;
  bottom: .5em;
  font-size: 1em;
  width: 1.5em;
  height: 1.5em;
  background: url('./../../../assets/images/password-icon-closed.png') center / cover no-repeat;
  background-color: transparent;
  border: none;
  &__opened {
    background: url('./../../../assets/images/password-icon-open.png') center / cover no-repeat;
  }
}