@import './../assets/styles/vars.module.scss';


.app {
  min-height: calc(100vh - (#{$height-header-top} + #{$height-header-bottom}));
  transition: background-color .2s;
  &-light {
    background-color: #fff;
    color: $clr-grey-dark;
    .form {
      background-color:#fff;
      border: 1px solid rgba($clr-grey-dark, .1);
      box-shadow: 2px 2px 5px rgba($clr-grey-dark, .3);
    }
    .textField, .numberField, .selectField, .textAreaField {
      background-color: #fff;
      color: $clr-grey-dark;
      &::placeholder {
        color: $clr-grey;
      }
    }
    .popupField {
      color: $clr-blue-dark;
      border-bottom: 1px dashed $clr-blue-dark;
    }
    .table {
      &__row:nth-child(even) {
        background-color: rgba($clr-grey, .1);
      }
      &__item {
        color: $clr-grey;
      }
    }
  }
  &-dark {
    background-color: $clr-grey-dark;
    color: $clr-grey-light;
    .form {
      background-color: $clr-grey;
    }
    .textField, .numberField, .selectField, .textAreaField {
      background-color: $clr-grey-dark;
      color: $clr-grey-light;
      &::placeholder {
        color: rgba($clr-grey-light, .7);
      }
    }
    .popupField {
      color: $clr-blue;
      border-bottom: 1px dashed $clr-blue;
    }
    .table {
      &__row:nth-child(even) {
        background-color: rgba($clr-grey-light, .1);
      }
      &__item {
        color: $clr-grey-light;
      }
    }
  }
}

.container {
  width: 1350px;
  margin: 0 auto;
}
.disabled {
  pointer-events: none;
  opacity: 0.4;
}

.main {
  width: 100%;
  margin-top: calc(#{$height-header-top} + #{$height-header-bottom});
  padding: 2em 0;
  z-index: 1;
  &__page {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    &__title {
      text-transform: uppercase;
      color: inherit;
      font-size: 1.7em;
      margin-bottom: 1em;
    }
    &__breadcrumbs {
      width: 65%;
    }
    &__inner {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
    &__list {
      width: 65%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }
    &__aside {
      width: 33%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }
    &__bottom {
      width: 100%;
      margin-top: 2em;
    }
  }
}

.form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: .9em;
  border-radius: 0.5em;
  padding: 1em 2.5em 2em 2.5em;
  &__title {
    width: 100%;
    font-size: 1.2em;
    margin: 1em 0;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
  }
  &__caption {
    font-size: 1em;
    margin-bottom: 0.5em;
    font-weight: 700;
  }
  &__price {
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    &__title {
      font-size: 1em;
      margin-bottom: 0.5em;
      font-weight: 700;
    }
    &__value {
      font-size: 1em;
      font-weight: 600;
      padding: .25em 0;
    }
  }
}

.information {
  width: 100%;
  box-shadow: 2px 2px 5px rgba($clr-grey-dark, .3);
  border-radius: 0.5em;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  &.fullwidth {
    padding: 1.5em 3em;
    margin-bottom: 2em;
  }
  &.small {
    padding: 1em 1.5em;
    margin-bottom: 1.5em;
  }
  &.z-index-hight {
    position: relative;
    z-index: 1;
  }
  &__bgc {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    &.brown {
      background: linear-gradient(90deg, 
        rgba(102, 72, 0, 0.7) 53.21%, 
        rgba(154, 109, 0, 0.483) 75.39%, 
        rgba(0, 0, 0, 0) 100%, 
        rgba(0, 0, 0, 0) 100%);
    }
    &.green {
      background: linear-gradient(90deg, 
      rgba(64, 125, 0, 0.7) 53.21%, 
      rgba(87, 171, 0, 0.434) 70.28%, 
      rgba(0, 0, 0, 0) 100%, 
      rgba(0, 0, 0, 0) 100%);
    }
    &.blue {
      background: linear-gradient(90deg, 
        $clr-blue 43.75%, 
        rgba($clr-blue-dark, 0.32) 67.71%, 
        rgba($clr-blue, 0.09) 100%);
    }
    &.grey {
      background: linear-gradient(90.06deg, 
      rgba(51, 55, 58, 0.7) 0.32%, 
      rgba(11, 11, 12, 0.7) 0.33%, 
      rgba(51, 118, 173, 0.504) 31.98%, 
      rgba(191, 219, 242, 0) 99.95%);
    }
  }
  &__bgi {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    &.half {
      left: 40%;
      width: 60%;
    }
  }
  &__title {
    color: #fff;
    position: relative;
    z-index: 1;
    font-size: 1.25em;
    margin-bottom: 1em;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
  }
  &__inner {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    z-index: 1;
    &__content {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      width: 50%;
      &.wide {
        width: 80%;
      }
      &.fullwidth {
        width: 100%;
      }
      &.scroll-wrapper {
        display: block;
        height: 300px;
        overflow-y: scroll;
        padding-right: 2em;
        &::-webkit-scrollbar {
          width: 5px;
          height: 5px;
          background: transparent;
        }
        &::-webkit-scrollbar-thumb {
          background:#fff;
          border-radius: 5px;
        }
      }
    }
    &__list-item {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: .75em 0;
      color: #fff;
      font-size: .9em;
      &__img {
        width: 50px;
        max-height: 40px;
        object-fit: cover;
        margin-right: 1.5em;
      }
      span {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    &__desc {
      color: #fff;
      width: 100%;
      font-size: 0.9em;
      margin-bottom: 1em;
      &.half {
        width: 82%;
      }
    }
    &__imgEmblem {
      position: absolute;
      height: 100px;
      max-width: 100px;
      right: 0;
      bottom: 0;
      opacity: .8;
    }
    &__imgMadeInKarelia {
      position: absolute;
      opacity: .8;
      right: 0;
      &.large {
        bottom:  0;
        width: 17%;
      }
      &.small {
        top: 0;
        width: 70px;
      }
    }
  }
}



.table {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
  margin-bottom: 3em;
  &__inner {
    display: flex;
    flex-direction: column;
  }
  &__row {
    width: 100%;
    display: flex;
  }
  &__container {
    &.major {
      display: flex;
      justify-content: space-between;
      width: 91%;
    }
    &.second {
      width: 9%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      padding: 1em;
    }
  }
  &__item {
    padding: 1em;
    font-size: .925em;
    display: flex;
    flex-direction: column;
    &__value {
      width: 100%;
      line-height: 1.3;
      margin-bottom: .5em;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}



.modal {
  &-container {
    width: 800px;
    background-color: $clr-grey;
    box-shadow: inset 1px 1px 0 0 rgba(#fff, .1);
    border-radius: .25em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    &__header {
      width: 100%;
      color: $clr-grey-light;
      padding: 1em 1.5em;
      font-weight: 700;
      font-size: 1.2em;
      box-shadow: 0 1px 0 0 rgba(#fff, .2), 
        0em .1em .75em rgba($clr-grey-dark, .5);
    }
    &__search {
      width: 100%;
      padding: 0.75em 2em;
      font-size: 1em;
      border: 3px solid $clr-green;
      border-radius: .25em;
      font-weight: 600;
      background-color: $clr-grey-dark;
      color: $clr-grey-light;
      &::placeholder {
        color: rgba($clr-grey-light, .7);
      }
    }
    &__content {
      width: 100%;
      padding: 1em 1.5em 2em;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      color: $clr-grey-light;
    }
    &__footer {
      width: 100%;
      box-shadow: 0 -1px 0 0 rgba(#fff, .2), 
          0em -.1em .75em rgba($clr-grey-dark, .5);
      padding: 1em 1.5em;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }
  &-img_active {
    max-width: 500px;
    max-height: 400px;
    object-fit: cover;
    border-radius: 0.25em;
  }
}


// yandex map
.placemark__link {
  color: $clr-grey-light;
  letter-spacing: .05em;
  font-weight: 800;
  text-decoration: underline;
}


// Основная часть балуна
ymaps[class$="balloon__content"] {
  background-color: $clr-grey-dark;
}
// Кнопка закрытия
ymaps[class$="balloon__close-button"] {
  background: url('./../assets/images/close.png') center / 100% no-repeat;
  opacity: 1;
}
// Правая сторона балуна
ymaps[class$="balloon__layout"] {
  background-color: $clr-grey-dark;
}
// Хвостик снизу 
ymaps[class$="balloon__tail"] {
  background-color: $clr-grey-dark;
  &::after {
    background-color: $clr-grey-dark;
  }
}
// Заголовок балуна
ymaps[class$="balloon-content__header"] {
  color: $clr-grey-light;
  text-transform: uppercase;
}
// Текст балуна
.balloon-content__body {
  color: $clr-grey-light;
  span {
    text-transform: lowercase;
  }
}