@import './../../../assets/styles/vars.module.scss';

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1.5em;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.95em;
}
