$height-header-top: 5.5em;
$height-header-bottom: 3.5em;


// $clr-green-light: #1EDC62;
$clr-green: #57AB00;
$clr-green-dark: #008000;

$clr-orange: #EDA700;

$clr-red: #D62121;

$clr-grey-light: #e1e1e1;
$clr-grey: #636363;
$clr-grey-dark: #2D2D2D;

$clr-blue-dark: #003E9A;
$clr-blue: #2868BE;