@import './../../assets/styles/vars.module.scss';

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.title {
    color: $clr-green;
    font-weight: 800;
    font-size: 10em;
    letter-spacing: .25em;
    text-shadow: .05em .05em 0 rgba($clr-green, .4);
}

.text {
    font-size: 1.2em;
    &.light {
        color:$clr-grey;
    }
    &.dark {
        color: $clr-grey-light;
    }
    span {
        font-weight: 700;
        color: $clr-green;
    }
}